* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.go-back {
    border: 0;
    background: transparent;
    cursor: grab;
    font-size:25px;
}

.header-container {
    display: flex;
    gap: 3px;
    margin-top: 10px;
    margin-left: 3px;
}

img {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: showImage 4s ease-in-out forwards;
}

.nav {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    gap: 3px;
    padding: 25px;
    justify-content: space-evenly;
    background-color: #071e26;
    color: darkgoldenrod;
    opacity: 0;
    animation: showImage 2s ease-in-out forwards;
}

.nav li a {
    text-decoration: none;
    color: darkgoldenrod;
}

.nav li a:visited {
    color: inherit;
}

.nav li a:hover {
    color: #004080; 
}

@keyframes showImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.footer {
    padding: 25px;
    background-color: #071e26;
    color: darkgoldenrod;
    text-align: center;
}